.headerCell {
    border-left: solid 1px #888;
    background-color: #EEE;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerCell:last-of-type {
    border-right: solid 1px transparent;
}
.headerCell:first-of-type {
    border-left: solid 1px transparent;
}

.headerNumber {
    font-size: 1.2rem;
}